<ion-view view-title="State2" name="state2-view">
<ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    state2 state2 state2 state2 state2 state2 state2 state2 state2 
state2 state2 state2 state2 state2 state2 state2 state2 state2
state2 state2 state2 state2 state2 state2 state2 state2 state2 
state2 state2 state2 state2 state2 state2 state2 state2 state2
state2 state2 state2 state2 state2 state2 state2 state2 state2 
state2 state2 state2 state2 state2 state2 state2 state2 state2
state2 state2 state2 state2 state2 state2 state2 state2 state2 
state2 state2 state2 state2 state2 state2 state2 state2 state2
state2 state2 state2 state2 state2 state2 state2 state2 state2 
state2 state2 state2 state2 state2 state2 state2 state2 state2
 
  </ion-content>
</ion-view>